lectures/09_flows_bedrock_n8n/n8n/workflow_04_kb_ingestion.json
{
  "name": "KB Ingestion - Drive to Vector Store",
  "nodes": [
    {
      "id": "node-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 120],
      "parameters": {}
    },
    {
      "id": "node-drive-list",
      "name": "Drive: List Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-680, 120],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "query",
        "queryString": "trashed=false",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "17Rg2teqPNlGUxrWOBM_LxjWeSSvIFKeG"
          }
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP1VAzKfaBW8UndF",
          "name": "Amdocs course"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-drive-download",
      "name": "Drive: Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-440, 120],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP1VAzKfaBW8UndF",
          "name": "Amdocs course"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [-220, 360],
      "parameters": {
        "dataType": "binary",
        "binaryMode": "allInputData",
        "loader": "auto",
        "textSplittingMode": "custom"
      }
    },
    {
      "id": "node-splitter",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [-420, 520],
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 150
      }
    },
    {
      "id": "node-emb",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [20, 520],
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "credentials": {
        "openAiApi": {
          "id": "hKXdTIExXwfdKuib",
          "name": "OpenAI n8n course May26"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "node-vs",
      "name": "Simple Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [20, 120],
      "parameters": {
        "mode": "insert",
        "clearStore": true,
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "company_kb"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Drive: List Files", "type": "main", "index": 0 }]]
    },
    "Drive: List Files": {
      "main": [[{ "node": "Drive: Download", "type": "main", "index": 0 }]]
    },
    "Drive: Download": {
      "main": [[{ "node": "Simple Vector Store", "type": "main", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Simple Vector Store", "type": "ai_document", "index": 0 }]]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Simple Vector Store", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
