lectures/09_flows_bedrock_n8n/n8n/workflow_06_kb_reindex.json
{
  "name": "KB Ingestion C - Reindex Utility (Clear + Rebuild)",
  "nodes": [
    {
      "id": "node-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1160, 120],
      "parameters": {},
      "notes": "WF_C reindex (DESTRUCTIVE). Clears the Pinecone namespace 'company_kb' and re-embeds the whole KB folder. Guarded: requires confirm=true."
    },
    {
      "id": "node-guard",
      "name": "Reindex Guard",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-940, 120],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "g-confirm", "name": "confirm", "value": "={{ false }}", "type": "boolean" },
            { "id": "g-ns", "name": "namespace", "value": "company_kb", "type": "string" }
          ]
        },
        "options": {}
      },
      "notes": "SAFETY GUARD: confirm defaults to false. To actually wipe+rebuild, the operator must set confirm=true here before running. Prevents accidental destruction of the vector store."
    },
    {
      "id": "node-if-confirm",
      "name": "Confirmed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-720, 120],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-confirm",
              "leftValue": "={{ $json.confirm }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "notes": "TRUE -> proceed with clear+rebuild. FALSE -> Abort (no changes)."
    },
    {
      "id": "node-abort",
      "name": "Abort (Not Confirmed)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-500, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a-status", "name": "status", "value": "aborted_not_confirmed", "type": "string" },
            { "id": "a-msg", "name": "message", "value": "Reindex aborted. Set confirm=true in the Reindex Guard node to wipe and rebuild namespace company_kb.", "type": "string" }
          ]
        },
        "options": {}
      },
      "notes": "Deterministic abort branch when confirmation is missing."
    },
    {
      "id": "node-drive-list",
      "name": "Drive: List Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-500, 60],
      "parameters": {
        "resource": "fileFolder",
        "operation": "search",
        "searchMethod": "query",
        "queryString": "trashed=false",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "17Rg2teqPNlGUxrWOBM_LxjWeSSvIFKeG",
            "cachedResultName": "KB Folder"
          }
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP1VAzKfaBW8UndF",
          "name": "Amdocs course"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "alwaysOutputData": true,
      "notes": "Full re-list of KB folder for a clean rebuild."
    },
    {
      "id": "node-if-supported",
      "name": "Is Supported MIME?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-280, 60],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-mime",
              "leftValue": "={{ ['application/vnd.google-apps.document','application/vnd.google-apps.presentation','application/vnd.google-apps.spreadsheet','application/pdf','text/plain','text/markdown','text/csv','application/json','text/html','application/vnd.openxmlformats-officedocument.wordprocessingml.document','application/vnd.openxmlformats-officedocument.presentationml.presentation'].includes($json.mimeType) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "notes": "MIME allow-list. TRUE -> download+embed. FALSE -> Log Skipped."
    },
    {
      "id": "node-log-skip",
      "name": "Log Skipped (Unsupported)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-60, 280],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "skip-reason", "name": "skip_reason", "value": "unsupported_mime_type", "type": "string" },
            { "id": "skip-name", "name": "name", "value": "={{ $json.name }}", "type": "string" },
            { "id": "skip-mime", "name": "mimeType", "value": "={{ $json.mimeType }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "notes": "Skip path with reason logging during rebuild."
    },
    {
      "id": "node-drive-download",
      "name": "Drive: Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-60, 60],
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}",
          "cachedResultName": "={{ $json.name }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "text/plain",
              "sheetsToFormat": "text/csv"
            }
          }
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GP1VAzKfaBW8UndF",
          "name": "Amdocs course"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "Downloads all supported files; Google-native docs exported to text/csv."
    },
    {
      "id": "node-splitter",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [160, 320],
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 150
      },
      "notes": "Chunking 1000/150 (must match other ingestion flows for consistent retrieval)."
    },
    {
      "id": "node-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [320, 260],
      "parameters": {
        "dataType": "binary",
        "binaryMode": "allInputData",
        "loader": "auto",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "fileId", "value": "={{ $('Drive: List Files').item.json.id }}" },
              { "name": "name", "value": "={{ $('Drive: List Files').item.json.name }}" },
              { "name": "mimeType", "value": "={{ $('Drive: List Files').item.json.mimeType }}" },
              { "name": "modifiedTime", "value": "={{ $('Drive: List Files').item.json.modifiedTime }}" },
              { "name": "sourceUrl", "value": "={{ $('Drive: List Files').item.json.webViewLink }}" },
              { "name": "hash", "value": "={{ $('Drive: List Files').item.json.md5Checksum || $('Drive: List Files').item.json.modifiedTime }}" },
              { "name": "version", "value": "={{ $('Drive: List Files').item.json.modifiedTime }}" }
            ]
          }
        }
      },
      "notes": "Same citation metadata schema as bootstrap/incremental for consistency."
    },
    {
      "id": "node-emb",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [320, 480],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "hKXdTIExXwfdKuib",
          "name": "OpenAI n8n course May26"
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "notes": "text-embedding-3-small (1536). Must match other flows."
    },
    {
      "id": "node-vs",
      "name": "Pinecone: Clear + Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [560, 60],
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "mode": "id",
          "value": "company-kb"
        },
        "embeddingBatchSize": 200,
        "options": {
          "pineconeNamespace": "company_kb",
          "clearNamespace": true
        }
      },
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "notes": "MANUAL BIND REQUIRED: Pinecone credential + index 'company-kb'. clearNamespace=TRUE wipes namespace 'company_kb' once at start, then re-inserts all current chunks => removes stale/duplicate vectors left by incremental sync. This is the ONLY flow that clears the store.",
      "credentials": {
        "pineconeApi": {
          "id": "1K1jNN1533VDw1DH",
          "name": "Pinecone account"
        }
      }
    },
    {
      "id": "node-summary",
      "name": "Reindex Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 60],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "s-status", "name": "status", "value": "reindex_completed", "type": "string" },
            { "id": "s-ns", "name": "namespace", "value": "company_kb", "type": "string" },
            { "id": "s-at", "name": "completedAt", "value": "={{ $now.toISO() }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "notes": "Run summary marker (status/namespace/timestamp)."
    },
    {
      "id": "sticky-overview",
      "name": "Sticky: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1200, -260],
      "parameters": {
        "width": 1140,
        "height": 200,
        "color": 2,
        "content": "## KB Ingestion C — Reindex Utility (Clear + Rebuild)\n\n**Purpose:** Destructive, **guarded** full rebuild. Clears the Pinecone namespace, then re-embeds the entire Drive folder from scratch. Use to purge stale chunks or after chunking/embedding-model changes.\n\n**Flow:** `Manual -> Reindex Guard -> Confirmed? -> (yes) Drive: List -> MIME -> Download -> Split -> Loader -> Embeddings -> Pinecone: Clear + Insert -> Summary`.\n\n**Safety:** requires `confirm=true` in *Reindex Guard*. Without it -> **Abort** branch, nothing is deleted. `clearNamespace=true` wipes `company_kb` before insert."
      }
    },
    {
      "id": "sticky-guard",
      "name": "Sticky: Guard",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-940, -20],
      "parameters": {
        "width": 340,
        "height": 140,
        "color": 1,
        "content": "### ⚠ Destructive Guard\nSet `confirm=true` to proceed.\nAny other value -> Abort (no deletion).\nProtects against accidental KB wipes."
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Reindex Guard", "type": "main", "index": 0 }]]
    },
    "Reindex Guard": {
      "main": [[{ "node": "Confirmed?", "type": "main", "index": 0 }]]
    },
    "Confirmed?": {
      "main": [
        [{ "node": "Drive: List Files", "type": "main", "index": 0 }],
        [{ "node": "Abort (Not Confirmed)", "type": "main", "index": 0 }]
      ]
    },
    "Drive: List Files": {
      "main": [[{ "node": "Is Supported MIME?", "type": "main", "index": 0 }]]
    },
    "Is Supported MIME?": {
      "main": [
        [{ "node": "Drive: Download", "type": "main", "index": 0 }],
        [{ "node": "Log Skipped (Unsupported)", "type": "main", "index": 0 }]
      ]
    },
    "Drive: Download": {
      "main": [[{ "node": "Pinecone: Clear + Insert", "type": "main", "index": 0 }]]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [[{ "node": "Default Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    },
    "Default Data Loader": {
      "ai_document": [[{ "node": "Pinecone: Clear + Insert", "type": "ai_document", "index": 0 }]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{ "node": "Pinecone: Clear + Insert", "type": "ai_embedding", "index": 0 }]]
    },
    "Pinecone: Clear + Insert": {
      "main": [[{ "node": "Reindex Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "GJdw1TPD3HlzdaWA"
  },
  "pinData": {}
}
