lectures/09_flows_bedrock_n8n/n8n/workflow_01_webhook_summarizer.json
{
  "name": "Course09 - Webhook Summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "summarize",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "course09-summarize"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text-field",
              "name": "text",
              "value": "={{ $json.body.text ?? $json.text ?? 'No text provided.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Extract Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "amazon.nova-lite-v1:0",
        "prompt": "=Summarize the following text in 2-3 concise sentences. Return only the summary.\n\nText:\n{{ $json.text }}",
        "options": {
          "temperature": 0.3,
          "maxTokens": 512
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "AWS Bedrock",
      "type": "@n8n/n8n-nodes-langchain.awsBedrock",
      "typeVersion": 1,
      "position": [700, 300],
      "credentials": {
        "aws": {
          "id": "CONFIGURE_AWS_CREDENTIAL",
          "name": "AWS (course account)"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"summary\": $json.text ?? $json.output ?? $json.response ?? $json } }}",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [920, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "AWS Bedrock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS Bedrock": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
