lectures/09_flows_bedrock_n8n/n8n/workflow_10_webhook_email_agent.json
{
  "name": "Webhook Email Automation Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-640, 0],
      "notes": "Inbound automation trigger. Expects JSON body: { email, name, topic, message }. Fields read as $json.body.*"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=New email request.\nRecipient name: {{ $json.body.name }}\nRecipient email: {{ $json.body.email }}\nTopic: {{ $json.body.topic }}\nMessage to include: {{ $json.body.message }}\n\nCompose and send the email now using the Send Email tool.",
        "options": {
          "systemMessage": "You are an automation AI agent that receives webhook requests.\n\nThe webhook request contains the following fields:\n- email - the email address of the recipient\n- name - the name of the recipient\n- topic - the topic of the email\n- message - additional information to include in the email\n\nYour task is to send an email to the provided email address.\n\nSteps you must follow:\n1. Read the webhook input fields.\n2. Generate a friendly and professional email.\n3. Create a clear subject line based on the topic.\n4. Use the \"Send Email\" tool to send the email.\n\nEmail guidelines:\n- Start with a greeting using the recipient's name.\n- Mention the topic in the email.\n- Include the message from the webhook request.\n- Keep the tone friendly and professional.\n\nYou must always send the email using the Send Email tool when an email address is provided."
        }
      },
      "id": "node-agent",
      "name": "Email Composer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-320, 0],
      "notes": "Reads the webhook fields, composes a friendly/professional email, and calls the Send Email tool. Recipient is taken deterministically from the webhook (not chosen by the model)."
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        },
        "responsesApiEnabled": false
      },
      "id": "node-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-400, 224],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "hKXdTIExXwfdKuib",
          "name": "OpenAI n8n course May26"
        }
      },
      "notes": "Agent model. temp 0.3 for natural but consistent email copy."
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "={{ $fromAI('subject', 'A clear, concise email subject line based on the topic', 'string') }}",
        "emailType": "text",
        "message": "={{ $fromAI('body', 'The full friendly and professional email body: greeting using the recipient name, mention the topic, and include the provided message', 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "node-send",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [-80, 224],
      "credentials": {
        "gmailOAuth2": {
          "id": "gKfPpmcy65IK5z7G",
          "name": "Gmail account"
        }
      },
      "notes": "Gmail send tool exposed to the agent as 'Send Email'. Recipient is bound to the webhook email field; subject/body are AI-generated via $fromAI."
    },
    {
      "parameters": {
        "content": "## Webhook Email Automation Agent\n\n**Purpose:** Receives a webhook request and sends a friendly, professional email to the requested recipient.\n\n**Flow:** `Webhook (POST /send-email) -> Email Composer -> Send Email (Gmail tool)`.\n\n**Input (JSON body):** `{ email, name, topic, message }` (read as `$json.body.*`).\n\n**Behavior:** recipient is bound deterministically to the webhook `email` field; the agent generates the subject (from `topic`) and the body (greeting with `name`, mentions `topic`, includes `message`) via `$fromAI`, then always calls the Send Email tool.\n\n**Test:** `POST /webhook/send-email` with `{ \"email\": \"...\", \"name\": \"...\", \"topic\": \"...\", \"message\": \"...\" }` (use `/webhook-test/...` while in editor test mode).",
        "height": 348,
        "width": 1288,
        "color": 5
      },
      "id": "sticky-overview",
      "name": "Sticky: Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-976, -496]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Email Composer", "type": "main", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "Email Composer", "type": "ai_languageModel", "index": 0 }]]
    },
    "Send Email": {
      "ai_tool": [[{ "node": "Email Composer", "type": "ai_tool", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "GJdw1TPD3HlzdaWA",
    "binaryMode": "separate"
  },
  "pinData": {}
}
